@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {	margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;font: inherit;vertical-align: baseline;}a {margin: 0;padding: 0;font-size: 100%;	vertical-align: baseline;background: transparent;text-decoration: none;	color:#484848;}a img { border:0 }img { border:0 }article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {	display: block;}body {line-height: 1;font-size: 14pt;}ol, ul {	list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';content: none;}ins {text-decoration: none;}del{text-decoration: line-through;}table{border-collapse: collapse;border-spacing: 0;} 
/* Meyer's reset ends here */

/* ------------------------------ */
/*             COLORZ             */
/*
light blue: #8bcef4
dark blue: #18639b

light red: #dd0c1d
dark red: #9e0512
/* ------------------------------ */
/* ------------------------------ */
/*        BLOCK STYLING           */
/* ------------------------------ */
.main {
	width: 1000px;
	min-height: 100px;
	background-color: #efefef;
	margin: 0 auto;
}
.banner {
	width: 100%;
	height: 25px;
	position: fixed;
	top: 0;
	left: 0;
	padding:2px 0 2px 0;
	background-color: #fff;
	color: #fff;
	z-index: 999;
}
.bannerWrap {
	width:1000px;
	height: 25px;
	margin: 0 auto;
}
	.bannerWrap img	{
		float: left;
	}
header {
	width: 980px;
	min-height: 100px;
	float: left;
	background-color: #ddd;
	padding: 0 10px 10px 10px;
	margin:29px 0 10px 0;
}
	.topic {
		width: 675px;
		height: 40px;
		margin: 10px;
		float: left;
	}
	.topicDesc {
		width: 675px;
		height: 75px;
		float: left;
		margin: 0 10px 10px 10px;
	}
	.topicDetailsWrap {
		width: 250px;
		min-height: 100px;
		float: right;
		text-align: right;
		padding: 12px 10px 0 10px;
		border: thin solid #bababa;
	}
		.host, .topicOpenTime, .topicCloseTime {
			width: 250px;
			height: 30px;
		}
/* ------------------------------ */
/*     NAV FOR INDIVID PAGE       */
/* ------------------------------ */
nav {
	width: 980px;
	height: 25px;
	padding: 10px 10px 15px 10px;
	float: left;
}
	.add {
		min-width: 25px;
		height: 30px;
		float: left;
		margin-right: 10px;
		color: #fff;
		border: thin solid #18639b;
	}
		.add:hover {
			cursor: pointer;
		}
	.filter {
		min-width: 170px;
		height: 30px;
		float: left;
	}
		.filter select {
			width: 100px;
			height: 25px;
			margin: 3px 0 0 5px;
			/*background: transparent;
			float: right;*/
			border: 1px solid #bbb;
			color: #626262;
			font-size: 13px;
			font-weight: normal;
			padding: 2px 1px 2px 4px;
		}
	.search {
		width: 350px;
		height: 30px;
		background-color: #eee;
		background-image: url('search.png');
		background-repeat: no-repeat;
		background-position: 5px 5px;
		float: right;
	}
		.search input[type='search'] {
			margin: 0 0 0 30px;
			background: #fff;
			width: 300px;
		}
/* ------------------------------ */
/*         MAIN SECTION           */
/* ------------------------------ */
section	 {
	width: 980px;
	min-height: 100px;
	float: left;
	padding: 10px;
	opacity: 0;
	margin: 0;
}
/* ------------------------------ */
/*     INDIVID IDEA STYLING       */
/* ------------------------------ */
.idea {
	width: 980px;
	min-height: 150px;
	margin-bottom: 20px;
	border: thin solid #bababa;
	border-top: thick solid #d2111f;
}
	.voteWrap {
		width: 75px;
		height: 150px;
		float: left;
		margin-right: 10px;
	}
		.upvote {
			width: 75px;
			height: 50px;
			background:	url('upvote.png');
		}
			.upvote:hover {
				cursor: pointer;
			}
		.upvoted {
			background: url('upvote_active.png');
		}
		.voteCount {
			width: 75px;
			height: 60px;
			text-align: center;
			padding-top: 40px;
		}
	.ideaName {
		width: 700px;
		height: 35px;
		float: left;
		margin:0 10px 10px 0;
	}
	.timestamp {
		width: 185px;
		height: 35px;
		float: left;
		text-align: right;
	}
	.ideaDesc {
		width: 895px;
		min-height: 60px;
		float: left;
		margin-bottom: 10px;
	}
	.ideaAuthor {
		width: 215px;
		height: 25px;
		float: left;
	}
		.ideaAuthor img {
			float: right;
			width: 25px;
			height: 25px;
		}
	.ideaComments {
		min-width: 200px;
		height: 25px;
		float: right;
		text-align: right;
	}
/* ------------------------------ */
/*          NEWTOPIC PAGE         */
/* ------------------------------ */
.newIdea input[type='text'] {
	margin-bottom: 10px;
}
.newIdea textarea {
	height: 100px;
	width: 300px;
}
.newIdea input[type='submit'] {
	width:75px;
	height: 50px;
	background: #eee;
}
/* ------------------------------ */
/*          TYPOGRAPHY            */
/* ------------------------------ */
h1, h2, h3, h4, p, b, a {
	font-family: 'Arial', sans-serif;
}
.banner h1 {
	font-size: 10pt;
	font-style: italic;
	color: #fff;
	float: left;
	padding: 7px 0 0 0;
}
.banner h2 {
	float: right;
	color: #fff;
	font-size: 11pt;
	padding: 5px 5px 0 0;
}
header h1 {
	font-size: 16pt;
	color:#626262;
}
header h2 {
	font-size: 11pt;
	color:#626262;
}
.topic h1 {
	padding-top: 9px;
	font-size: 20pt;
}
.add p {
	font-size: 12pt;
	padding: 7px 5px 0 5px;
}
.filter p {
	font-size: 12pt;
	padding: 8px 0 0 5px;
	text-align: center;
	float: left;
}
select {
	font-size: 11pt;
}
.search p {
	font-size: 12pt;
	padding: 5px 0 0 30px;
}
.idea h1 {
	font-size: 16pt;
	padding: 10px 0 0 0;
}
.idea h2 {
	font-size: 14pt;
	padding: 10px 10px 0 0;
}
.idea h3 {
	font-size: 11pt;
	padding: 3px 10px 0 0;
}
.idea p {
	font-size: 10pt;
}
.voteCount p {
	font-size: 18pt;
}
.newIdea input[type='text'] {
	font-size: 16pt;
}
.newIdea input[type='submit'] {
	font-size: 12pt;
}
.newIdea p {
	font-size: 11pt;
	margin: 3px 10px 0 0;
}
/* ------------------------------ */
/*          CSS3 STYLES           */
/* ------------------------------ */
header {
	-webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
}
.search, .filter, .add, nav, section, .banner img, .idea img {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.newIdea input[type='submit'] {
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.banner {
	background: #dd0c1d; /* Old browsers */
	background: -moz-linear-gradient(top,  #dd0c1d 0%, #960511 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd0c1d), color-stop(100%,#960511)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dd0c1d 0%,#960511 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dd0c1d 0%,#960511 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dd0c1d 0%,#960511 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dd0c1d 0%,#960511 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0c1d', endColorstr='#960511',GradientType=0 ); /* IE6-9 */
}
.topicDetailsWrap {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
.add {
	color: #fff;
	background: #8bcef4; /* Old browsers */
	background: -moz-linear-gradient(top,  #8bcef4 0%, #18639b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bcef4), color-stop(100%,#18639b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8bcef4 0%,#18639b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8bcef4 0%,#18639b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8bcef4 0%,#18639b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8bcef4 0%,#18639b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bcef4', endColorstr='#18639b',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}
.idea, .topicDetailsWrap {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:  0px 2px 15px 3px rgba(0, 0, 0, .15);
    box-shadow:  0px 2px 15px 3px rgba(0, 0, 0, .15);
}