@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {	margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;font: inherit;vertical-align: baseline;}a {margin: 0;padding: 0;font-size: 100%;	vertical-align: baseline;background: transparent;text-decoration: none;	color:#484848;}a img { border:0 }img { border:0 }article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {	display: block;}body {line-height: 1;font-size: 14pt;}ol, ul {	list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';content: none;}ins {text-decoration: none;}del{text-decoration: line-through;}table{border-collapse: collapse;border-spacing: 0;} 
/* Meyer's reset ends here */

/* ------------------------------ */
/*        BLOCK STYLING           */
/* ------------------------------ */
.main {
	width: 1000px;
	min-height: 100px;
	background-color: #efefef;
	margin: 0 auto;
}
.banner {
	width: 100%;
	height: 25px;
	position: fixed;
	top: 0;
	left: 0;
	padding:2px 0 2px 0;
	background-color: #fff;
	color: #fff;
}
.bannerWrap {
	width:1000px;
	height: 25px;
	margin: 0 auto;
}
	.bannerWrap img	{
		float: left;
	}
header {
	width: 980px;
	min-height: 100px;
	float: left;
	background-color: #ddd;
	padding: 10px;
	margin:29px 0 10px 0;
}
	.topic {
		width: 700px;
		height: 40px;
		margin: 0 10px 10px 0;
		float: left;
	}
	.topicDesc {
		width: 700px;
		height: 75px;
		float: left;
	}
	.topicDetailsWrap {
		width: 270px;
		min-height: 100px;
		float: right;
		text-align: right;
		padding-top: 12px;
	}
		.host, .topicOpenTime, .topicCloseTime {
			width: 270px;
			height: 30px;
		}
/* ------------------------------ */
/*     NAV FOR INDIVID PAGE       */
/* ------------------------------ */
nav {
	width: 980px;
	height: 25px;
	padding: 10px 10px 15px 10px;
	float: left;
	background-color: #ddd;
	margin-bottom: 10px;
}
	.add {
		width: 25px;
		height: 30px;
		background-color: #bbb;
		float: left;
		margin-right: 10px;
	}
	.filter {
		width: 170px;
		height: 30px;
		background-color: #bbb;
		float: left;
	}
		.filter select {
			width: 100px;
			height: 25px;
			margin: 3px 0 0 0;
			background: transparent;
			float: right;
		}
	.search {
		width: 350px;
		height: 30px;
		background-color: #eee;
		background-image: url('search.png');
		background-repeat: no-repeat;
		background-position: 5px 5px;
		float: right;
	}
		.search input[type='search'] {
			margin: 0 0 0 30px;
			background: #fff;
			width: 300px;
		}
/* ------------------------------ */
/*         MAIN SECTION           */
/* ------------------------------ */
section	 {
	width: 980px;
	min-height: 100px;
	float: left;
	padding: 10px;
	background-color: #ddd;
}
/* ------------------------------ */
/*     INDIVID IDEA STYLING       */
/* ------------------------------ */
.idea {
	width: 980px;
	min-height: 150px;
	background-color: #eee;
	margin-bottom: 20px;
}
	.voteWrap {
		width: 75px;
		height: 150px;
		float: left;
		background-color: #eee;
		margin-right: 10px;
	}
		.upvote {
			width: 75px;
			height: 50px;
			background:	url('upvote.png');
		}
			.upvote:hover {
				cursor: pointer;
			}
		.upvoted {
			background: url('upvote_active.png');
		}
		.voteCount {
			width: 75px;
			height: 60px;
			text-align: center;
			padding-top: 40px;
		}
	.ideaName {
		width: 700px;
		height: 35px;
		float: left;
		margin:0 10px 10px 0;
	}
	.timestamp {
		width: 185px;
		height: 35px;
		float: left;
		text-align: right;
		background-color: #eee;
	}
	.ideaDesc {
		width: 895px;
		min-height: 60px;
		float: left;
		background-color: #eee;
		margin-bottom: 10px;
	}
	.ideaAuthor {
		width: 400px;
		height: 25px;
		float: left;
		background-color: #eee;
	}
	.ideaComments {
		width: 200px;
		height: 25px;
		float: right;
		text-align: right;
		background-color: #eee;
	}
/* ------------------------------ */
/*          NEWTOPIC PAGE         */
/* ------------------------------ */
.newIdea input[type='text'] {
	margin-bottom: 10px;
}
.newIdea textarea {
	height: 100px;
	width: 300px;
}
.newIdea input[type='submit'] {
	width:75px;
	height: 50px;
	background: #eee;
}
/* ------------------------------ */
/*          TYPOGRAPHY            */
/* ------------------------------ */
h1, h2, h3, h4, p, b, a {
	font-family: 'Arial', sans-serif;
}
.banner h1 {
	font-size: 11pt;
	color: #111;
	float: left;
	padding: 5px 0 0 7px;
}
.banner h2 {
	float: right;
	color: #111;
	font-size: 11pt;
	padding: 5px 5px 0 0;
}
header h1 {
	font-size: 16pt;
}
header h2 {
	font-size: 11pt;
}
.topic h1 {
	padding-top: 9px;
	font-size: 20pt;
}
.add p {
	font-size: 20pt;
	padding: 3px 0 0 5px;
}
.filter p {
	font-size: 12pt;
	padding: 8px 0 0 5px;
	text-align: center;
	float: left;
}
select {
	font-size: 11pt;
}
.search p {
	font-size: 12pt;
	padding: 5px 0 0 30px;
}
.idea h1 {
	font-size: 16pt;
	padding: 10px 0 0 0;
}
.idea h2 {
	font-size: 14pt;
	padding: 10px 10px 0 0;
}
.idea h3 {
	font-size: 11pt;
	padding: 3px 10px 0 0;
}
.idea p {
	font-size: 10pt;
}
.voteCount p {
	font-size: 18pt;
}
.newIdea input[type='text'] {
	font-size: 16pt;
}
.newIdea input[type='submit'] {
	font-size: 12pt;
}
.newIdea p {
	font-size: 11pt;
	margin: 3px 10px 0 0;
}
/* ------------------------------ */
/*          CSS3 STYLES           */
/* ------------------------------ */
header {
	-webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
}
.search, .filter, .add {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.newIdea input[type='submit'] {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}